*{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
}
h1,h2,h3{
    font-weight: bolder;
}
body{
    background-color: oldlace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin: 8px;
    font-size: 20px;
}

nav{
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: azure;
    padding: 20px;
}

span{
    font-weight:400;
}

button{
    margin-top: 5px;
}

#booklist {
    
    margin: 10px;
    padding: 30px;
    text-align: center;
    max-width: 600px;
}

.bookEle {
    margin: 10px;
    padding: 10px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.commRender{
    min-height: 50px;
    background-color: aliceblue;
    margin: 10px;
    display:flex;
    text-align: left;
}

.commentDiv{
    display: flex;
    flex-direction: column;
}


.about{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}
.contactFunFact{
    display: flex;
    flex-direction: column;
}